.btn {
  padding: 13px 39px;
  color: #fff;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  background-image: linear-gradient(to bottom right, #33D35E, #2AB6D9);
}

.btn-top {
  display: none;
}